.App {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  background-color: #1f1b1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
